body {
    background-color: #2a293a;
    font-family: sans-serif, Arial, Helvetica;
    color:white;
    text-align: center;
    margin: 20px;
}

h1 {
    color: white;
}

a {
    color:white;
}
a:hover {
    color: lightblue;
}
a:active {
    color: blueviolet;
}

p {
    text-align: center;
}